.recipeContainer {
  width: 350px;
  height: 430px;
  background-color: #d8ddde;
  position: relative;
  box-shadow: 0px 0px 5px 2px #d8ddde;
  cursor: pointer;
}
.title {
  justify-content: center;
}
.label {
  max-width: 100%;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  padding: 18px;
}
.image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttonLayout {
  max-width: 100%;
  padding: 15px;
}
.buttonIngredients {
  border: none;
  width: 35%;
  border-radius: 5px;
  background: #8c271e;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  height: 2.3rem;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  padding: 0 20px;
}
.buttonIngredients:hover {
  background-color: #ffffff;
  color: #00515c;
}
