.recipeContainer {
  width: 350px;
  height: 430px;
  background-color: #d8ddde;
  position: relative;
  box-shadow: 0px 0px 5px 2px #d8ddde;
  cursor: pointer;
}
.recipeContainer:hover {
  --b: 0.1em; /* the thickness of the line */
  --c: #8c271e; /* the color */
  color: #fff;
  padding-block: var(--b);
  background-color: #8c271e;
  border: 5px solid white;
}
table
th,
td {
  padding: 10px;
  border: 1px solid black;
  background-color: aliceblue;
}
tr{
  padding: 10px;
}
td{
  padding: 10px;
}
.table-content{
  border: 1px solid black;
  padding: 6px;
}
.footer{
  display:flex ;
  justify-content: space-between;
  }
.title {
  background-color: #8c271e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.ingredients-charts{
  margin: 10px;
}
.label {
  max-width: 100%;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  padding: 18px;
}
.image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttonLayout {
  max-width: 100%;
  padding: 15px;
}
.buttonIngredients {
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 35%;
  border-radius: 5px;
  background: #8c271e;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  height: 2.3rem;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  padding: 0;
}
.buttonIngredients:hover {
  background-color: #ffffff;
  color: #00515c;
}
.button{

  justify-content: center;
  border: 1px solid white;
  width: 35%;
  border-radius: 5px;
  background: #8c271e;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  height: 2.3rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;

}
.button:hover{
  background-color: #ffffff;
  color: #00515c;
}